<form>
  {{s-input value=formData.name
    placeholder='Event name...'
    errors=errors.name
    class='event-form__name'}}

  {{s-input value=formData.date
    label='Date:'
    typeIsDate=true
    errors=errors.date}}

  {{s-input value=formData.startTime
    label='Starts at:'
    typeIsTime=true
    errors=errors.startTime}}

  {{s-input value=formData.endTime
    label='Ends at:'
    typeIsTime=true
    errors=errors.endTime}}

  <button class='s-btn' {{action 'submitForm'}}>
    <span class='s-btn__text'>save</span>
  </button>
  <a class='event-form__delete' {{action 'deleteEvent'}}>delete event</a>
</form>
