{{#if showEmailForm}}
  <form>
    {{s-input value=email
      label='Email:'
      errors=errors.email
      class='s-input--show-underline'}}

    {{s-input value=password
      label='Password:'
      errors=errors.password
      class='s-input--show-underline'
      typeIsPassword=true}}

    <button class='s-btn u-margin-bottom-20' {{action 'submitForm'}}>
      <span class='s-btn__text'>login</span>
    </button>
  </form>

  <div class='u-text-align-center u-margin-bottom-20'>
    <button class='s-btn s-btn--x-icon' {{action 'toggleShowEmailForm'}}></button>
  </div>
{{else}}
  <button class='s-btn s-btn--google-icon u-margin-bottom-20' {{action 'loginWithGoogle'}}>
    <span class='s-btn__text'>google login</span>
  </button>

  <button class='s-btn s-btn--flow-icon u-margin-bottom-20' {{action 'toggleShowEmailForm'}}>
    <span class='s-btn__text'>email login</span>
  </button>
{{/if}}
