{{#if showModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    <form>
      <p>Confirm event:</p>
      <label>Title {{input value=newEvent.name}}</label><br>
      <label>Start{{input value=newEvent.start}}</label><br>
      <label>End{{input value=newEvent.end}}</label><br>
    </form>

    <button {{action 'saveEvent'}}>Create Event</button>
    <button {{action 'closeModal'}}>Cancel</button>
  {{/modal-dialog}}
{{/if}}
