<div class='month-calendar__navigation-year'>
  <div class='month-calendar__navigation-year__year'>{{year}}</div>
  <div class='month-calendar__navigation-year__months'>
    <a class='month-calendar__navigation-month' {{action 'goToMonth' prevMonth}}>January</a>
    <a class='month-calendar__navigation-month' {{action 'goToMonth' prevMonth}}>February</a>
    <a class='month-calendar__navigation-month' {{action 'goToMonth' prevMonth}}>March</a>
    <a class='month-calendar__navigation-month' {{action 'goToMonth' prevMonth}}>April</a>
    <a class='month-calendar__navigation-month' {{action 'goToMonth' prevMonth}}>May</a>
    <a class='month-calendar__navigation-month' {{action 'goToMonth' prevMonth}}>June</a>
    <a class='month-calendar__navigation-month' {{action 'goToMonth' prevMonth}}>July</a>
    <a class='month-calendar__navigation-month' {{action 'goToMonth' prevMonth}}>August</a>
    <a class='month-calendar__navigation-month' {{action 'goToMonth' prevMonth}}>September</a>
    <a class='month-calendar__navigation-month' {{action 'goToMonth' prevMonth}}>October</a>
    <a class='month-calendar__navigation-month' {{action 'goToMonth' prevMonth}}>November</a>
    <a class='month-calendar__navigation-month' {{action 'goToMonth' prevMonth}}>December</a>
  </div>
</div>
